---
import Layout from '../layouts/Layout.astro';
import Header from '../components/HeaderNav.astro';
import Hero from '../components/Hero.astro';
import Nino  from '../components/formNino/nino.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Construyendo Comunidad | Instituto Bahá'í España">
	<main class="min-h-screen overflow-x-hidden">
		<Header />
		<Hero />
		<Nino>
		<Footer />
		</main>
</Layout>

