---
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
}

const { 
	title, 
	description = "Capacitación y desarrollo comunitario en las España" 
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
		<script>
			import AOS from 'aos';
			// Inicializar AOS
			AOS.init({
				duration: 800,
				easing: 'ease-in-out',
				once: false,
			});
		</script>
	</body>
</html>

